/*le tête de page*/
	header{
		background-color: #610C0F;
		background-size: 100px: 
	}
	body header p{
	    font-size: 50px;
	    padding-left: 100px;
	    text-align: center;
	}

	body h1.headline{
		font-size: 110px;
		color: #05F4CC;
		text-align: center;
		font-weight: bold;
		padding-left:150px;
		padding-left: 27px

	}

	body{
		background-color: #084EF3;
		color: white;
	}

	/*le balise div*/
	div.leftbox h2{
		text-align: center;
	}
	div.leftbox p{
		color: #ffffff;
		background-color: #610C0F;
		font-size: 14px;
		padding: 25px;
		width: 200px;
		text-align: center;
	}
	
	div.leftbox:hover p{
		color: #05F6F6;
		background-color: #fa0738;
		transition: 0.3s;
	}
	div#content{
		background-color: #ffffff;
		padding: 10px;
	}
	div#content div{
		display: inline-block;
		width: 48%;
	}
	div#content div.leftbox{
		background-color: #222282;
		vertical-align: top;
		padding: 20px;
	}
	div#content div h1, p, iframe{
		margin: 35px;
		letter-spacing: 1.5px;
	}
	div#content div.rightbox{
		background-color: #07819A;
		padding-bottom: 300px;
	} 
	div.rightbox h1{
		font-size: 30px;
		color: white;
		text-align: center;
	}
	/*le pied de page*/
	footer{
		background-color: #50021C;
		padding-left: 275px;
	}
