	/*le tête de page*/
	header{
		background-color: #610C0F;
		background-size: 100px:
		width: 100%; 
	}

	body header img{
		padding-left: 35px; 
	}

	body header p{
	    font-size: 50px;
	    font-family: times new roman; 
	    padding-left: 100px;
	    text-align: center;
	}

	ul li.bern{
		display: inline-block;
		list-style-type: none;
		padding-left: 180px;
	}

	ul li.bern:hover a{
		color: black;
		font-size: 20px;
		font-family: times new roman;
		text-decoration: none;
		background-color: none;
		padding: 10px;
	}
	ul li.bern a{
		color: black;
		font-size: 30px;
		font-family: times new roman;
		text-decoration: none;
		background-color: #01DFF7;
		transition: 0.3s;
		animation: ease-in-out;
	}

	p.welcome{
		color: black;
		background-color: #ffffff;
		text-align: center;
		font-size: 20px;
	}
	p.welcome:hover{
		color: #ffffff;
		background-color: #610C0F;
		transition: 0.3s;
	}

	body h1.headline{
		font-size: 110px;
		font-family: times new roman;
		color: #05F4CC;
		text-align: center;
		font-weight: bold;
		padding-left:150px;
		padding-left: 27px
	}

	body{
		background-color: #084EF3;
		color: white;
	}

	/*le balise div*/
	div.leftbox h2{
		text-align: center;
		font-family: times new roman;
	}
	div.leftbox p{
		color: #ffffff;
		background-color: #610C0F;
		font-size: 14px;
		padding: 25px;
		width: 200px;
		text-align: center;
		font-family: times new roman;
	}
	div.leftbox img{
		border-radius: 50%;
		padding-left: 70px;
	}
	div.leftbox h3{
		padding-top: 20px;
	}
	div.leftbox:hover p{
		color: #05F6F6;
		background-color: #fa0738;
		transition: 0.3s;
	}
	div#content{
		background-color: #ffffff;
		padding: 10px;
	}
	div#content div{
		display: inline-block;
		width: 48%;
	}
	div#content div.leftbox{
		background-color: #084EF3;
		vertical-align: top;
		padding: 20px;
	}
	div#content div h1, p, iframe{
		margin: 35px;
		letter-spacing: 1.5px;
	}
	div#content div.rightbox{
		background-color: #017CF7;
		padding-bottom: 280px;
	} 
	div.rightbox h1{
		font-size: 26px;
		color: #610C0F;
		text-align: center;
		font-family: times new roman;
	}
	div.rightbox h2{
		font-size: 15px;
		color: #000000;
		text-align: justify;
		font-family: times new roman;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 0px;
	}
	div.rightbox h3{
		font-size: 19px;
		color: #610C0F;
		text-align: justify;
		font-family: times new roman;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 0px;
	}

	/*le pied de page*/
	footer{
		background-color: #084EF3;
		font-family: times new roman;
		text-align: center;
	}
